html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.spacer {
  background-repeat:repeat-y;
  background-position: bottom;
  background-size:cover;
  gap: 0;
}

.layer {
  background-image: url('../public/peaks.svg')
}

.layer-g {
  background-image: url('../public/gradient.svg')
}
.layer-b {
  background-image: url('../public/blob.svg')
}